<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scratch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Scratch">

        <!-- LoginActivity as the launcher activity -->
        <activity android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity -->
        <activity android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar"/>

        <!-- DashboardActivity -->
        <activity android:name=".DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar"/>

        <!-- HomeDashboardActivity -->
        <activity android:name=".HomeDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar"/>

        <!-- Activity Schedule -->
        <activity android:name=".ScheduleActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar"/>

        <!-- Activity Workouts -->
        <activity android:name=".WorkoutActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar"/>

        <!-- Activity Trainers -->
        <activity android:name=".TrainerActivity"
            android:exported="true"
            android:theme="@style/Theme.Scratch.NoActionBar"/>

    </application>
</manifest>
